html,body{
  background-color: #fff;
  color: black;
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  
}
div{
  cursor: default;
}
a {
	color: red;
  display: block;
  cursor: pointer;

}
a:hover {
	color: #fff;
  cursor: pointer;
}

button{
  cursor: pointer;
}

 .kozep
      {
        margin:auto;      }
      }
